body{
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar{
    background-color: red;
    width: 340px;
}

.main-content{
    background-color: blue;
    flex: 1;
    overflow: auto;
}

.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}